include/*/.svn/
include/.svn/
include/config/
src/.svn/
src/*/.svn/
src/HAL/AVR32/
src/HAL/WIN32/
old_tests/
.old_svn/
#.settings/
.svn/
GND/create_bit_stream
GND/decode_bit_stream
GND/*.o
TLM/*/py/pyc

/HOST
/ARM
/ARM-DEBUG/
/HOST-TEST/
/ARM-TEST
